<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profil</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="../../assets/img/ppptr.jpeg" />
    </ion-avatar>
    <p>PUTRI RABIATUL ADAWIYAH</p>
    <p>Mahasiswa</p>
    <a class="social-link" href="https://www.instagram.com/putri_ra_04">@putri_ra_04</a>
    <a class="social-link" href="https://www.tiktok.com/putrirabiatulad41">@putrirabiatulad41</a>
  </div>
</ion-content>
