
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 50vh;
}
p {
  margin: 5px;
}
ion-avatar {
  width: 100px; /* Sesuaikan dengan ukuran yang Anda inginkan */
  height: 100px; /* Sesuaikan dengan ukuran yang Anda inginkan */
}

ion-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Untuk memastikan gambar mengisi avatar dengan benar */
}
.content-background {
  background-color: #3498db; /* Ganti dengan warna latar belakang yang Anda inginkan */
  color: #ffffff; /* Ganti dengan warna teks yang sesuai */
}
