<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login APP</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <h1><strong>Login</strong></h1>
    Username : <input type="text" [(ngModel)]="username" /><br>
    Password : <input type="password" [(ngModel)]="password" /><br>
    <ion-button (click)="checkloginAuth()">Login</ion-button>
  
  </div>

  
</ion-content>

