<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login APP</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <strong>App Mobile</strong>
    <p>Klik <a [routerLink]="['/home']">Masuk</a> untuk Menuju Home</p>
    <p>Klik <a [routerLink]="['/profil']">Masuk</a> untuk Menuju profil</p>
  </div>
  
  
</ion-content>

